#main {
    display: flex;
    justify-content: center;
}

#main .wrapper {
    margin-top: 48px;
    border: 1px solid #4579a7;
    display: inline-block;
    padding: 30px;
}

.form-group {
    margin-bottom: 10px;
}

.form-label {
    border: 1px solid #4579a7;
    color: white;
    background-color: #7fc54f;
    padding: 5px 7px;
    display: inline-block;
    width: 110px;
    text-align: center;
    margin-right: 10px;
}

.not-empty {
    display: inline-block;
    color: red;
}

.input-group {
    width: 148px;
    display: inline-block;
    float: right;
    margin-right: 100px;
}

.form-control {
    border: 1px solid #4579a7 !important;
    border-radius: 0 !important;
}

.yc {
    color: red;
}

.button-form {
    display: flex;
    justify-content: center;
}

.sub-btn {
    border: 1px solid #4579a7;
    border-radius: 6px;
    padding: 7px 20px;
    background-color: #7fc54f;
    color: white;
    margin-top: 10px;
}

.form-input {
    height: 30px;
    border: 1px solid #4579a7;
    width: 248px;
}

.khoa-select {
    height: 30px;
    border: 1px solid #4579a7;
}

input[type='radio']:checked:after {
    width: 13px;
    height: 13px;
    border-radius: 15px;
    position: relative;
    background-color: #7fc54f;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #4579a7;
}